<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEC Circular</title>

    <!-- CSS only -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/app.scss" />
  <script src="'/js/bootstrap.bundle.min.js"></script>



</head>

<body>
    <%- include("../partials/nav")%>
    <%- body %>


      
</body>

</html>