<%- layout('layouts/boilerplate') -%>
<%- include("../partials/nav")%>

<div class="container w-50 mx-auto">
<h3 class="text-center">Add Circular</h3>
<div class="">
    <form action="/newcircular" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
      <label class="form-label"  for="title">Title</label>
      <input type="text"  class="form-control mb-3"  name="title" id="title" required>
        <label class="form-label" for="batch">Select Batch</label>
        <select class="form-select mb-3" id="batch" name="batch" size="5" required multiple aria-label="multiple select example"> 
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <label class="form-label" for="dept">Select Departments</label>
          <select class="form-select mb-3" id="dept" name="dept" size="5" required multiple aria-label="multiple select example">
            <option value="IT">IT</option>
            <option value="CSE">CSE</option>
            <option value="MECH">MECH</option>
            <option value="AI">AI</option>
            <option value="ECE">ECE</option>
          </select>
          <div class="mb-3">
            <label for="formFile" class="form-label">Select Circular File(Only pdf)</label>
            <input class="form-control" name="pdf" type="file" id="formFile" required>
          </div>
        <input class="btn btn-outline-success mx-auto" type="submit" value="Submit">
    </form>

</div>
</div>
<script src="/js/validation.js"></script>



